.container {
  width: 100vw;
  height: auto;
  padding: 30px 0px;
  border-bottom: 4px solid #d4a742;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 1200px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.item {
  background-color: black;
  text-align: center;
  padding: 10px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
  padding-bottom: 40px;
  cursor: pointer;
}
.item:hover {
  box-shadow: 1px 1px 15px #d4a742;
}

.item h2 {
  color: #d4a742;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  font-weight: 700;
  line-height: 1;
  text-wrap: balance;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
  }
  .item h2 {
    font-size: clamp(0.8rem, 0.9rem, 1rem);
  }
}
