.modalOverLay {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4a742;
  padding: 0rem 1rem;
}

.modal {
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 476px;
  height: auto;
  position: relative;
}
