.singleOperation {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 200ms ease-in-out;
  color: #222222;
}

.singleOperation:hover {
  color: aliceblue;
}

.singleOperation img {
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}
.singleOperation:hover img {
  filter: invert(1);
}
