.container {
  position: absolute;
  background-color: #222222;
  color: #d4a742;
  height: 100vh;
  width: 70vw;
  top: 0;
  left: -100%;
  transition: left 0.2s ease-in-out;
  z-index: 1000;
}

.container.open {
  left: 0;
}

/* Mobile Menu Content */
.container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px 20px;
  align-items: center;
  width: 100%;
  height: auto;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.container ul li {
  padding: 10px;
  width: 100%;
}

.container ul li a {
  text-decoration: none;
  color: #d4a742;
  width: 100%;
  display: block;
}

/* Active Link Style */
.active {
  background-color: #d4a742;
  color: #222222 !important;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 1px 1px 3px rgba(212, 167, 66, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    width: 70vw;
  }

  .nav {
    height: auto;
    flex-direction: column;
  }

  .first {
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
  }

  .second {
    align-items: center;
    height: auto;
  }

  .accountOperations {
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
    font-size: 0.6rem;
  }

  .leftSide > div:nth-child(2) {
    display: none;
  }

  .rightSide {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 30vw;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: none;
  }
}
