.singleNavLink {
  text-decoration: none !important;
  color: #d4a742;
  position: relative;
  transition: color 0.3s ease-in-out;
  font-size: 0.8rem;
}

.singleNavLink::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: aliceblue;
  bottom: -10px;
  left: 0;
  transition: height 0.3s ease-in-out;
}

.singleNavLink:hover::after {
  height: 2px;
}

.singleNavLink:hover {
  color: aliceblue;
}

.mobileView {
  padding: 10px;
  width: 100%;
}

.mobileView a {
  text-decoration: none;
  color: #d4a742;
  width: 100%;
  display: block;
}

/* Active Link Style */
.activeLink {
  background-color: #d4a742;
  color: #222222 !important;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 1px 1px 3px rgba(212, 167, 66, 0.2);
}
