.errorContainer {
  position: absolute;
  background-color: #fef1f2;
  width: 30vw;
  border-radius: 10px;
  padding: 10px;
  top: 1vh;
  display: flex;
  flex-direction: column;
  animation: slideBounce 0.2s ease-out;
}

@keyframes slideBounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 1;
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 425px) {
  .errorContainer {
    width: 90vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .errorContainer {
    width: 70vw;
  }
}

@media screen and (min-width: 1025px) {
  .errorContainer {
    width: 30vw;
  }
}
