.container {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  overflow: hidden;
}

.upperSection {
  flex: 1;
  display: flex;
}

.upperSection img {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .container {
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.25rem;
  }
}
